/* You can add global styles to this file, and also import other style files */

/* PrimeNG Styles */
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--surface-ground);
  color: var(--text-color);
  min-height: 100vh;
}

html,
body {
  height: 100%;
}